#!bin/sh

#Copy this file and name it build.sh
#Replace command below with your coffee bin file
COFFEE=~/node_modules/coffee-script/bin/coffee

echo "Compiling src files..."
$COFFEE --compile --bare --output build/ src/
echo "\033[32mDone.\033[0m"

echo "Compiling jasmine specs..."
$COFFEE --compile --bare --output test/spec/ test/coffeespec/
echo "\033[32mDone.\033[0m"