<h1 class="game-title">Equations!</h1>
<div id="endround">

    <h2 id="end-round-title"></h2>
    <p id="end-of-round-baby">It's the end of the game!</p>

    <div id="round-goal">
        <div id="round-goal-dice">
            <ul id="goal-dice-ctnr"></ul>
        </div>
        <p id="challenge-titles-cntr"></p>

    </div>


    
    <div id="round-results-ctnr">

    </div>
    <div id="ready-round-cntr">
        <p>When you are ready for the next round, click the button below.</p>
        <button id="next-round-ready-btn" class="grey-button">Ready for Next Round.</button>
    </div>
   

</div>

