
<div id="top-ctnr">
    <div id="goal-ctnr">
        <ul id="goal-dice-ctnr">
        </ul>
        <span id="now-button">Now</span>
        <span id="never-button">Never</span>
    </div>

    <div id="player-list">
        <ul>
        </ul>
    </div>

    <!--<div id="commentary_ctnr">
        <ul>
            <li class="now-commentary">
                <span>Now</span> It's Player 1's turn to move a dice from unallocated
            </li>
            <li>Player 1 moved + from unallocated to forbidden</li>
            <li>Player 1 moved * from unallocated to optional</li>
            <li>Player 1 moved 2 from unallocated to forbidden</li>
            <li>Player 1 moved 2 from unallocated to forbidden</li>
        </ul>
    </div>-->



</div>


<div id="allocation_container">
    <div id="dice_container">
        <ul id="required">
        </ul>

        <ul id="optional">
        </ul>
       
        <ul id="unallocated">
        </ul>

        <ul id="forbidden">
        </ul>
    </div>
</div>

<div id="turn-notification">
    <p>Hello</p>
</div>


<ul id="main-columns">

    <li>
        <div id="answer-area">
            <div id="answer-dice">
                <ul id="answers">
                </ul>
            </div>

            <div id="answer-buttons">
                <a class="mini-button" id="answer-add-dice-btn"><span>Add</span></span></a>
                <a class="mini-button" id ="answer-submit-btn"><span>Submit</span></span></a>
            </div>
        </div>
    </li>

    <li>
        <div id="rough-area-container">
            <div id="rough-area-board">
                <canvas id="simple_sketch" />
            </div>

            <div id="rough-area-buttons">
                <a class="mini-button" title="Clear drawing" id="sketchClear"><span>Clear</span></span></a>
            </div>
        </div>
    </li>

</div>