
<div id="goalmake">
    <h2>Please Set The Goal</h2>
    <div id="notadded-goal-ctnr">
      <h3>Select:</h3>
      <p>You have been chosen to be the <em>goal setter</em>. Please choose 2 to 6 dice from below.</p>
      <ul id="notadded-goal">
      </ul>
    </div>
    <div id="added-goal-ctnr">
      <h3>Goal:</h3>
      <ul id="added-goal">
      </ul>
    </div>
    <p id="goalerror"></p>
    <button id="sendgoal">Submit</button>
    <p class="center"><span>You have <span id="secondstomakegoal">40 seconds</span> to set the goal before someone else must set it!</span></p>
</div>
