
<div id="goalmake">
    <ul id="inside-goal">
        <li class="dice"><span>1</span></li>
        <li class="dice"><span>+</span></li>
        <li class="dice"><span>3</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>1</span></li>
        <li class="dice"><span>+</span></li>
        <li class="dice"><span>3</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>1</span></li>
        <li class="dice"><span>+</span></li>
    </ul>
    <ul id="outside-goal">
        <li class="dice"><span>1</span></li>
        <li class="dice"><span>+</span></li>
        <li class="dice"><span>3</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>1</span></li>
        <li class="dice"><span>+</span></li>
        <li class="dice"><span>3</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>5</span></li>
        <li class="dice"><span>1</span></li>
        <li class="dice"><span>+</span></li>
    </ul>
</div>
