
<div id="lobby">
  <h2>Lobby</h2>
  <div id="gameslist-ctnr">
  </div>

  <div id="addgame-btn-ctnr">
    <span id="show-add-game-btn" class="grey-button">Add Game</span>
  </div>

  <div id="new-game-form-ctnr">

    <label for="newgame-name">Name of Your Game</label>
    <input id="newgame-name" type="text"  />

    <label for="newgame-numplayers">Number of players</label>
    <select id="newgame-numplayers">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <label for="newgame-difficulty">Difficulty Level</label>
    <select id="newgame-difficulty">
      <option value="easy">Easy Mode</option>
      <option value="hard">Hard Mode</option>
    </select>

    <!-- Timing for making goal screen -->
    <!-- Timing for making allocation moves -->
    <!-- Timing for making submitting decisions -->
    <!-- Timing for making submitting solutions -->
    <!-- Timing for making the round results screen -->

    <span id="add-game-btn" class="grey-button">Add</span>

  </div>


</div>