<h1 class="game-title">Equations!</h1>
<div id="lobby">
  <h2>Lobby</h2>
  <div id="gameslist-ctnr">
  </div>

  <div id="addgame-btn-ctnr">
    <span id="show-add-game-btn" class="grey-button">Add Game</span>
    <span id="tutorial-game-btn" class="grey-button">Play the tutorial</span>
  </div>

  <div id="new-game-form-ctnr">



    <form id="new-game" action="">
      <!-- The name of the player -->
      <p>
        <label id="newgame-player-name-label">
          <span class="form-title">Your nickname</span> <span class="form-error"></span>
          <span>The name that will be displayed to other players.</span>
        </label>
        <input id="newgame-player-name" type="text" placeholder="Type your nickname" />
      </p>

      <!-- The name of the game -->
      <p>
        <label id="newgame-name-label">
          <span class="form-title">Name of Game</span> <span class="form-error"></span>
          <span>The name of the game will be shown in lobby.</span>
        </label>
        <input id="newgame-name" type="text" placeholder="Type game name" />
      </p>

      <!-- The number of playes in the game -->
      <p>
        <label id="newgame-numplayers-label">
          <span class="form-title">Number of players</span> <span class="form-error"></span>
          <span>How many players need to join play this game.</span>
        </label>
        <select id="newgame-numplayers">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </p>

      <!-- The difficulty of the game -->
      <!--
      <p>
        <label id="newgame-difficulty-label">
          <span class="form-title">Difficulty Mode</span>
          <span>Easy mode recommended for new players.</span>
          <span class="form-error"></span>
        </label>
        <select id="newgame-difficulty">
          <option value="easy">Easy Mode</option>
          <option value="hard">Hard Mode</option>
        </select>
      </p>
      -->
      <!-- Number of rounds in the game -->
      <p>
        <label id="newgame-numrounds-label">
          <span class="form-title">Number of rounds</span> <span class="form-error"></span>
          <span>How long will the game be?</span>
        </label>
        <select id="newgame-numrounds">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </p>

      <p>
        <button id="add-game-btn" class="grey-button">Add</button>
      </p>

    </form>

    <!-- Timing for making goal screen -->
    <!-- Timing for making allocation moves -->
    <!-- Timing for making submitting decisions -->
    <!-- Timing for making submitting solutions -->
    <!-- Timing for making the round results screen -->

  

  </div>


</div>