// ******************************************************
// Styles for the end of round screen
// ******************************************************

@import 'main'
// -----------
div#endround
  background: #0066AD
  border-radius(5px)
  display: block
  padding: 10px
  h2
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    margin-bottom: 5px
  p
    color: #7D879B
  div#round-results-ctnr
    margin-bottom: 10px
    table#resultslist 
      text-align: left
      width: 100%
      td
        color: #87C2EB
        text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
        padding: 5px
      tr:nth-child(2n+1)
        background: #0071C0
      a
        color: #A4D2D6
        text-decoration: none
        border-bottom: 1px solid #005855;
        text-shadow: none
        display: inline-block;
        line-height: 23px
        padding 0px 13px

ul.solution
  margin-left: -5px
  li.dice
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    border-color:#007BD1
    background: #777777
    diceLayout(30px)
  li.dice[data-alloc='unallocated']
    background: #777777
  li.dice[data-alloc='required']
    background: #EC6A00
  li.dice[data-alloc='optional']
    background: #4FBA07
  li.dice[data-alloc='forbidden']
    background: red

li.dice[data-alloc='forbidden']
    background: red
