// ******************************************************
// Styles for the end of round screen
// ******************************************************

@import 'main'
// -----------

div#endround
  background: #0066AD
  border-radius(5px)
  display: block
  padding: 10px
  h2
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    margin-bottom: 5px
  p
    color: #D9DFEC
    margin-bottom: 5px
  p#end-of-round-baby
    margin-bottom: 10px

  div#round-goal
    background: #0082DD
    padding: 15px 20px 2px 20px
    p
      padding: 0px 0px 12px 0px

    span#challenge-title
      color: white
      text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px
      font-weight: bold
      background: #004E81
      padding: 4px 32px
      border-radius(3px)
    span#challenge-success-title
      color: white
      text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px
      font-weight: bold
      background: #004E81
      padding: 4px 32px
      border-radius(3px)
    span#challenge-success-title.successful
      background: #0C9200
    span#challenge-success-title.failure
      background: #922900


  ul#goal-dice-ctnr
    display: block
    margin-bottom: 10px
    li.dice
      display: inline-block
      text-align: center
      font-family: $font-list
      font-size: 25px
      margin-right: 5px
      font-weight: bold
      background: #FFC818
      border-radius(5px)
      width: $dicewidth = 35px
      height: $dicewidth
      span
        color: #BE6B00
        text-shadow: rgba(0, 0, 0, .15) 0px 1px 0px
        line-height: $dicewidth;
  div#round-results-ctnr
    margin-bottom: 10px
    background: #0078CD
    padding: 15px
    table#resultslist 
      text-align: left
      //width: 100%
      td
        color: #87C2EB
        text-shadow: rgba(0, 0, 0, .45) 0px 1px 0px
        padding: 10px 40px      
        background: #0066AD
      a
        color: #A4D2D6
        text-decoration: none
        border-bottom: 1px solid #005855;
        text-shadow: none
        display: inline-block;
        line-height: 23px
        padding 0px 13px

ul.solution
  margin-left: -5px
  li.dice
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    border-color:#007BD1
    background: #777777
    diceLayout(30px)
  li.dice[data-alloc='unallocated']
    background: #777777
  li.dice[data-alloc='required']
    background: #EC6A00
  li.dice[data-alloc='optional']
    background: #4FBA07
  li.dice[data-alloc='forbidden']
    background: red

ul.score-tally 
  li
    padding: 2px 10px
    font-size: 13px
    color: #8FCE86
    span.scorebubble
      display: inline-block
      padding: 4px 8px
      margin-right: 5px
      color: white
      background: #0C9200
      border-radius(3px)
  li.bad
    color: #BDBDBD
    span
      color: #FFFFFF
      background: #3A3A3A

li.dice[data-alloc='forbidden']
    background: red
