// ******************************************************
// Styles for the lobby screen
// ******************************************************

@import 'main'
// -----------

div#lobby
  background: #0066AD
  border-radius(5px)
  display: block
  padding: 10px
  h2
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    margin-bottom: 5px
  table#gameslist 
    text-align: left
    width: 100%
    td
      color: #FFFFFF
      padding: 5px
    tr:nth-child(2n+1)
      background: #007DD5
    a
      color: #FF8F64
      text-decoration: none
      font-weight: bold
