@import 'nib'

/** Let us choose the styles, not the browser! **/
/** Reset padding and margins that the browser gives to elements as well as annoying list styles etc. **/
*
  reset-box-model()


html, body
  height: 100%;
  overflow: hidden


body
  background:#2066a0
  background: linear-gradient(top, #2989d8 0%, #1a7fb2 58%, #2066a0 100%)
  min-height: 100%
  font-family: $font-list

div#container
  margin: 0 auto
  width: 80%
  min-height: 100%;


// For screen widths 0 <= w <= 999
@media all and (max-width: 999px)
  div#container
    width: 95%
  ul#main-columns
    box-orient(vertical) // When the screen is too small, make the answer/rough area rows become columns
    li
      box-flex(1)
      

// For screen widths 1200 <= w <= 1200
@media all and (min-width: 1000px)
  div#container
    width: 80%
  ul#main-columns
    box-orient(horizontal) // When the screen is big enough, make the answer/rough area rows become columns
    li
      box-flex(1)
      width: 0 // give columns equal maximum shared width (hack to work on both FF and CHR)







display-box()
  display: -webkit-box
  display: -moz-box
  display: box

vertical-text()
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  white-space:nowrap;





/*************************************************************/
/*********************    GOAL       *************************/
/******* styles for the goal dice and challenge buttons ******/
/*************************************************************/

$font-list = "Helvetica Neue","Hevletica","Arial","DejaVu Sans","Kozuka Gothic Pro R","Meiryo","MS Gothic","Osaka",sans-serif


div#top_container
  text-align: center


div#goal
  background: #0078CD
  border-radius(5px)
  margin-bottom: 10px
  padding: 10px 10px

  display: block
  //position: relative
  text-align: center

div#goal-text
  //position: absolute
  width: 100%
  text-align: center
  //top: -30px
  text-transform: uppercase
  font-family: $font-list
  font-size: 42px

div#goal-text span
  background: #EEE
  border-radius(5px)
  padding: 10px

ul#goal > li
  display: inline-block
  text-align: center
  font-family: $font-list
  font-size: 32px
  font-weight: bold
  background: #FFC818
  width: $dicewidth = 40px
  height: $dicewidth
  span
    color: #BE6B00
    text-shadow: rgba(0, 0, 0, .15) 0px 1px 0px
    line-height: $dicewidth;

div#now-never-text
  //position: absolute
  //width: 100%
  text-align: center
  //bottom: -20px

span#now-button
  background: #e3e3e3
  border: 1px solid #bbb
  border-radius(3px)
  box-shadow(inset 0 0 1px 1px #f6f6f6)
  color: #333
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif
  padding: 8px 0 9px
  text-align: center
  text-shadow: 0 1px 0 #fff
  display: inline-block
  width: 150px

span#now-button:hover
  background: #d9d9d9
  box-shadow(inset 0 0 1px 1px #eaeaea)
  color: #222
  cursor: pointer

span#now-button:active
  background: #d0d0d0
  box-shadow(inset 0 0 1px 1px #e3e3e3)
  color: #000

div#never-button
  background: #e3e3e3
  border: 1px solid #bbb
  border-radius(3px)
  box-shadow(inset 0 0 1px 1px #f6f6f6)
  color: #333
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif
  padding: 8px 0 9px
  text-align: center
  text-shadow(0 1px 0 #fff)
  width: 150px

div#never-button:hover
  background: #d9d9d9
  box-shadow(inset 0 0 1px 1px #eaeaea)
  color: #222
  cursor: pointer

div#never-button:active
  background: #d0d0d0
  box-shadow(inset 0 0 1px 1px #e3e3e3)
  color: #000







div#allocation_container ul,
ul#answers,
ul#inside-goal,
ul#outside-goal
  display: inline-block
  text-align: center
  margin: 0px 10px 0px 20px
  li.dice 
    margin-right: -5px
    border: 4px solid red
    display: inline-block
    text-align: center
    background: #CCC
    width: $dicewidth = 30px
    height: $dicewidth
    span
      font-family: $font-list
      font-size: 20px
      padding-top: 4px;
      line-height: $dicewidth;
  li.lbracket
    display: inline-block
    font-size: 60px
    line-height: 28px
    padding-left: 10px


div#allocation_container
  display: block
  width: 100%
  background: #0066AD
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px
  border-radius(5px)
  border: 1px solid #55A3D6
  text-align: left
  ul#required li.dice
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    border-color:#007BD1
    background: #EC6A00
    border-width: 8px
  ul#optional li.dice
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    border-color:#007BD1
    background: #4FBA07
    border-width: 8px
  ul#forbidden li.dice
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    border-color:#007BD1
    background: red
    border-width: 8px
  ul#unallocated li.dice
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    border-color:#007BD1
    background: #777777
    border-width: 8px



table#gameslist 
  margin-top: 10px
  display: block
  width: 100%
  background: #0066AD
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px
  border-radius(5px)
  font-family: $font-list
  border: 1px solid #55A3D6
  text-align: left
  td
    color: #FFFFFF
    padding: 5px
  tr:nth-child(2n+1)
    background: #007DD5
  a
    color: #FF8F64
    text-decoration: none
    font-weight: bold




#dice_container
  margin 0px 20px 0px 0px



ul#answers 
  margin-left: -5px
  li.dice
    color: #FFFFFF
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
    border-color:#007BD1
    background: #777777
    border-width: 8px





a.mini-button
  cursor: pointer
  background: #007DD5
  font: bold 13px/1 $font-list
  padding: 1px
  margin: 1px
  display: inline-block
  border: 1px solid #51B7FF
  border-radius(2px)
  span
    border: 1px solid #006680
    color: #FFFFFF
    padding: 3px 7px 
    display: inline-block
    border-radius(2px)
    text-shadow: rgba(0, 0, 0, .75) 0px 1px 0px
a.mini-button:first-child
  margin-left: 10px


// The columns/rows for the answer area ad rough area 

ul#main-columns
  width: 100%
  background: #0066AD
  border-radius(5px)
  display-box()
  padding: 0
  margin: 0

ul#main-columns li
  display-box() //making the boxflex children display box messes up FF
  background: #007DD5
  list-style: none
  margin: 5px
  margin-bottom: 5px

#answer-area-container
  #answer-area-toolbar ul
    float:left
    reset-box-model()
    li 
      background: #AAA
      float: left
      clear: left
      display: inline-block
      width: 20px


#rough-area-container
  width:100%
  padding: 1px

#rough-area-board 
  display: block;
  height: 100px;
  margin: 10px;
  background: #005983;

      
#player-list ul
  reset-box-model()
  li
    background: #CCC;


.glow
  transition(box-shadow 0.5s)
  box-shadow(0px 0px 8px 2px rgba(255, 0, 0, .75));

#forbidden.glow
  box-shadow(0px 0px 8px 2px rgba(0, 255, 0, .75));

#required.glow
  box-shadow(0px 0px 8px 2px rgba(0, 0, 255, .75));

#optional.glow
  box-shadow(0px 0px 8px 2px rgba(255, 0, 0, .75));



$bubbleTipSize = 8px

#move-allocation-menu
  position: absolute
  margin-top: $bubbleTipSize
  display: block
  width: 230px;
  line-height: 20px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 1px;
  margin-left: -1 * (@width / 2)
  span
    font-family: $font-list
    cursor: pointer
  span#mamenu-required-btn
    color: #FD4700
  span#mamenu-optional-btn
    color: #52A25B
  span#mamenu-forbidden-btn
    color: #FF0000

#move-allocation-menu:after
  content: ""
  display: block
  position: absolute
  width: 0 
  height: 0
  border: $bubbleTipSize  transparent solid
  border-bottom-color: #FFFFFF
  bottom: -1 * $bubbleTipSize 
  left: 50%
  top: -2*$bubbleTipSize
  margin-left: -1 * $bubbleTipSize

