@import 'nib'

/** Let us choose the styles, not the browser! **/
/** Reset padding and margins that the browser gives to elements as well as annoying list styles etc. **/
*
  reset-box-model()

$font-list = "Helvetica Neue","Hevletica","Arial","DejaVu Sans","Kozuka Gothic Pro R","Meiryo","MS Gothic","Osaka",sans-serif

html, body
  height: 100%;
  font-family: $font-list

ul
  list-style: none

body
  background:#2066a0
  background: linear-gradient(top, #2681CC 0%, #206FB0 100%)
  min-height: 100%

div#container,
div#container[data-glow='off']
  margin: 0 auto
  width: 80%
  padding: 15px
  margin-top: 20px
  background: rgba(255, 255, 255, 0.2)
  border: 1px solid rgba(255, 255, 255, 0.3)
  border-radius(5px)


div#container[data-glow='on']
  background: rgba(255, 255, 255, 0.3)
  border: 1px solid rgba(255, 255, 255, 0.8)
  box-shadow: white 0px 0px 9px;


@keyframes highlightkeyframes {
  0% {box-shadow(white 0px 0px 2px 1px)}
  33% {box-shadow(white 0px 0px 2px 1px)}
  66% {box-shadow(white 0px 0px 14px 1px)}
  100% {box-shadow(white 0px 0px 14px 1px)}
}


*[data-glow='highlight'] {
    animation(highlightkeyframes 5s ease-in-out 0s infinite alternate)
}




// For screen widths 0 <= w <= 999
@media all and (max-width: 999px)
  div#container
    width: 95%
  ul#main-columns
    box-orient(vertical) // When the screen is too small, make the answer/rough area rows become columns
    li
      box-flex(1)
      

// For screen widths 1200 <= w <= 1200
@media all and (min-width: 1000px)
  div#container
    width: 80%
  ul#main-columns
    box-orient(horizontal) // When the screen is big enough, make the answer/rough area rows become columns
    li
      box-flex(1)
      width: 0 // give columns equal maximum shared width (hack to work on both FF and CHR)



display-box()
  display: -webkit-box
  display: -moz-box
  display: box




// The columns/rows for the answer area ad rough area 

ul#main-columns
  width: 100%
  background: #0066AD
  border-radius(5px)
  display-box()
  padding: 0
  margin: 0

ul#main-columns li
  display-box() //making the boxflex children display box messes up FF
  background: #007DD5
  list-style: none
  margin: 5px
  margin-bottom: 5px



.glow
  transition(box-shadow 0.5s)
  box-shadow(0px 0px 8px 2px rgba(255, 0, 0, .75));

#forbidden.glow
  box-shadow(0px 0px 8px 2px rgba(0, 255, 0, .75));

#required.glow
  box-shadow(0px 0px 8px 2px rgba(0, 0, 255, .75));

#optional.glow
  box-shadow(0px 0px 8px 2px rgba(255, 0, 0, .75));





